.v-card__title {
    line-height: normal;
}

.exams {
    display: flex;
}

.exam-duration {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #778290;
}



@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
      animation-timing-function: linear;
    }
  
    10% {
      transform: scale(1.1);
      opacity: 1;
    }
  
    20% {
      transform: scale(1.2);
      opacity: 0.9;
    }
  
    30% {
      transform: scale(1.3);
      opacity: 0.8;
    }
  
    40% {
      transform: scale(1.4);
      opacity: 0.7;
    }
  
    50% {
      transform: scale(1.5);
      opacity: 0.6;
    }
  
    60% {
      transform: scale(1.6);
      opacity: 0.5;
    }
  
    70% {
      transform: scale(1.7);
      opacity: 0.4;
    }
  
    80% {
      transform: scale(1.8);
      opacity: 0.3;
    }
  
    90% {
      transform: scale(1.9);
      opacity: 0.2;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }